@import "../app-variables";

.header {
  display: grid;
  grid-template-columns: auto auto auto;
  color: $card-font-color;
  height: 80px;
  width: 100%;
  max-width: 100%;
  background: $card-background-color;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.13);
}

.header-logo {
  grid-column-start: 1;
  grid-column-end: 2;
  max-width: max-content;
  margin: auto 20px;
  display: flex;
  width: fit-content;
}

.header-slogan {
  grid-column-start: 2;
  grid-column-end: 3;
  margin: auto;
  text-align: center;
  h1 {
    font-size: 1.3rem;
  }
}

.header-social-media {
  margin: auto;
  margin-right: 2rem;
  grid-column-start: 3;
  grid-column-end: 4;
  width: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
