@import "../../app-colors";


.rokkit-header-logo {
  display: flex;
  flex-direction: row;
  color: $card-font-color;

  a {
    color: inherit;
    text-decoration: none;

  }
}

.rokkit-logo {
  margin: auto 0;
  color: inherit;
  height: 60px;
}

.rokkit-logo-link {
  height: fit-content;
  margin: auto 0;
}
