@import "../app-variables.scss";

.description-container {
  display: flex;
}

.active-button {
  color: white;
  background: $card-accent-color;
  border-color: darken($card-accent-color, 5%);
}

.highlight-text {
  color: $card-accent-color;
}

.code-img {
  max-width: 35rem;
}

@media screen and (max-width: $breakpoint-tablet) {
  .description-container {
    flex-direction: column;
  }
}

@media screen and (max-width: $breakpoint-smartphone) {
  .code-img {
    max-width: 18rem;
  }
}
