$app-background-color: #fafafa;

$card-background-color: #fafafa;
$card-font-color: #28404d;
$card-accent-color: #b0003a; // #e91e63

$breakpoint-smartphone: 425px;
$breakpoint-small-laptop: 1024px;
$breakpoint-tablet: 768px;
