@import "../app-colors";

.footer {
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: space-between;
  * {
    font-size: 0.8rem;
  }
  color: $card-font-color;
  padding: 0.5rem 0.5rem;
  background: $card-background-color;
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.13);

  .footer-left-container {
    display: flex;
    flex-direction: column;

    a {
      color: inherit;
      text-decoration: none;
      margin: 0.3rem 0;
    }

    a:hover {
      color: $card-accent-color;
    }
  }

  .footer-right-container {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .copyright {
      text-align: right;
      vertical-align: bottom;
    }
  }
}
