@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
/* TODO Think about this */
::-webkit-scrollbar {
  display: none; }

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: #28404d; }

button:focus {
  outline: 0; }

a {
  color: #b0003a; }

a:hover {
  color: #b0003a; }

html,
body {
  margin: 0;
  height: 100%; }

#__next {
  height: 100%;
  min-height: 100%; }

.site {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto; }

.logo {
  display: block;
  margin: auto;
  width: 30rem; }

.slogan {
  display: block;
  margin: 2rem auto 0;
  width: fit-content; }

hr {
  border: none;
  background: #dbdbdb;
  height: 1px;
  margin: 3rem 0; }

.get-started {
  display: block;
  margin: 2rem auto 2rem auto;
  color: white;
  background: #b0003a;
  border-color: #970032;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.13); }

.get-started-link {
  border: none;
  text-decoration: none; }

.highlight-text {
  color: #b0003a; }

.content-container {
  box-sizing: border-box;
  margin: 2rem 5rem; }

.footer {
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: space-between;
  color: #28404d;
  padding: 0.5rem 0.5rem;
  background: #fafafa;
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.13); }
  .footer * {
    font-size: 0.8rem; }
  .footer .footer-left-container {
    display: flex;
    flex-direction: column; }
    .footer .footer-left-container a {
      color: inherit;
      text-decoration: none;
      margin: 0.3rem 0; }
    .footer .footer-left-container a:hover {
      color: #b0003a; }
  .footer .footer-right-container {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .footer .footer-right-container .copyright {
      text-align: right;
      vertical-align: bottom; }

.section {
  margin: 0 10rem; }

.section-heading {
  font-size: 1.5rem;
  padding-left: 0.5rem;
  border-left: 3px solid #b0003a;
  width: fit-content; }

.section-content {
  display: flex; }
  .section-content .section-children {
    margin: 0 3rem; }
  .section-content .section-img {
    width: 20rem;
    max-height: 25rem; }

button {
  display: block;
  margin: 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.13); }

.read-more {
  color: white;
  background: #b0003a;
  border-color: #970032; }

.read-less {
  color: #b0003a;
  background: #28404d;
  border-color: #1f323c; }

button:focus {
  outline: 0; }

.header {
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  color: #28404d;
  height: 80px;
  width: 100%;
  background: #fafafa;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.13); }

.header-logo {
  grid-column-start: 1;
  grid-column-end: 2;
  max-width: max-content;
  margin: auto 20px;
  display: flex; }

.header-slogan {
  grid-column-start: 2;
  grid-column-end: 3;
  margin: auto;
  text-align: center; }
  .header-slogan h1 {
    font-size: 1.3rem; }

.header-social-media {
  margin: auto;
  margin-right: 2rem;
  grid-column-start: 3;
  grid-column-end: 4;
  width: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.rokkit-header-logo {
  display: flex;
  flex-direction: row;
  color: #28404d; }
  .rokkit-header-logo a {
    color: inherit;
    text-decoration: none; }

.rokkit-logo {
  margin: 0.1rem 0 0;
  color: inherit;
  height: 60px; }

.rokkit-logo-link {
  height: fit-content;
  margin: auto 0; }

.link {
  color: #28404d;
  margin: auto 10px; }
  .link a {
    color: inherit;
    text-decoration: none; }
  .link h3:hover {
    border-bottom: 2px solid #b0003a; }

.image-link {
  margin: auto; }

.image-link-logo {
  height: 30px; }

.image-link-logo:hover {
  transform: scale(1.2); }

.description-container {
  display: flex; }

.active-button {
  color: white;
  background: #b0003a;
  border-color: #970032; }

.highlight-text {
  color: #b0003a; }

.code-img {
  max-width: 35rem;
  max-height: none; }

